@import "../../sass/variables";

.prcontainer {
  display: flex;
  justify-content: center;
  width: auto;
  .pass-reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    background: $second-bg-color;
    border-radius: 10px;
    box-shadow: 0 14px 28px #3a3b3c, 0 10px 10px #3a3b3c;
    margin: 2rem 5rem 5rem 5rem;
    padding: 1rem 2rem 1rem 2rem;
    width: 768px;

    h1 {
      color: $accent-color;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 18rem;
    }

    input {
      background: $main-bg-color;
      color: $text-color;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
      border-radius: 8px;
    }
    button {
      border-radius: 8px;
      border: 1px solid $accent-color;
      background: $accent-color;
      color: $text-color;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      margin-top: 5px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      cursor: pointer;
    }

    button:active {
      transform: scale(0.95);
    }

    button:focus {
      outline: none;
    }
  }
}
